Source: wi-fi-access-point-and-station-mode
Section: utils
Priority: optional
Maintainer: pi-top <deb-maintainers@pi-top.com>
Build-Depends:
 debhelper-compat (= 12),
Standards-Version: 4.5.1
Homepage: https://pi-top.com

Package: wifi-ap-sta
Architecture: all
Depends:
 ${misc:Depends},
 dhcpcd5,
 hostapd,
 isc-dhcp-server,
# 'ifconfig' command
 net-tools,
 systemd,
 udev,
 wpasupplicant,
Suggests:
 pt-networking,
Description: Wi-Fi Access Point and Station Mode
 Easily start and stop AP-STA mode on compatible devices.
 .
 This application is specifically developed to work on Raspberry Pi OS and
 derivatives, with some additional functionality to work with pi-topOS's DHCP
 server that is used for connecting to a pi-top [4] via the display cable (or
 connecting to a Pi via USB-OTG from the power connector).
