Source: rpi-wifi-ap
Section: utils
Priority: optional
Maintainer: pi-top <deb-maintainers@pi-top.com>
Build-Depends:
 debhelper-compat (= 12),
Standards-Version: 4.5.1
Homepage: https://pi-top.com

Package: rpi-wifi-ap
Architecture: all
Depends:
 ${misc:Depends},
 dhcpcd5,
 hostapd,
 isc-dhcp-server,
# 'ifconfig' command
 net-tools,
 systemd,
 wpasupplicant,
Description: Raspberry Pi Wireless Access Point
 Easily start and stop using your Raspberry Pi as a wireless access point.
 .
 This application is specifically developed to work on Raspberry Pi OS and
 derivatives, with some additional functionality to work with pi-topOS's DHCP
 server that is used for connecting to a pi-top [4] via the display cable (or
 connecting to a Pi via USB-OTG from the power connector).
