Source: pt-wireless-access-point
Section: utils
Priority: optional
Maintainer: pi-top <deb-maintainers@pi-top.com>
Build-Depends:
 debhelper-compat (= 12),
Standards-Version: 4.5.0
Homepage: https://pi-top.com

Package: pt-wireless-access-point
Architecture: all
Depends:
 ${misc:Depends},
# 'echo'/'nohup'/'tee' commands
 coreutils (>= 8.30),
 hostapd,
 sed (>= 4.7),
 systemd,
 wpasupplicant,
Description: pi-top Wireless Access Point
 Script to handle configuring a Raspberry Pi's wireless interface mode.
