[Unit]
Description=pi-topOS Wireless Access Point
Documentation=https://knowledgebase.pi-top.com/knowledge

[Service]
Type=simple
Restart=on-failure
RestartSec=0
ExecStart=/usr/bin/pt-ap start
ExecStop=/usr/bin/pt-ap stop

[Install]
WantedBy=multi-user.target
