[Unit]
Description=Raspberry Pi Wireless Access Point
Documentation=https://knowledgebase.pi-top.com/knowledge

[Service]
Type=simple
Restart=on-failure
RestartSec=0
ExecStart=/usr/bin/rpi-wifi-ap start
ExecStop=/usr/bin/rpi-wifi-ap stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
